<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Camp.in</title>
    <link rel="favicon" href="./images/favicon.ico">
    <link rel="stylesheet" href="../css/formLogin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <nav>
            <a href=""><img src="./images/logo.svg" alt=""></a>
        </nav>
    </header>
<div>
    <section>
        <article class="page-left w-50">
            <div class="caixa-form">
                <form method="POST" action="/users/login" id='formLogin' class="formLogin">
                    <div class="divInput">
                        <h2><img src="../images/log-in.svg" alt=""> Faça seu login</h2>
                        <p>Entre com suas informações de cadastro.</p>
                    </div>
                    <div class="divInput">
                            <label for="email" class="textInput">E-mail</label>
                            <br>
                            <span class="icon"><img src="../images/mail.svg" alt=""></span>
                            <input type="email" name="email" class="input-form w-100 inp-email" id='email' placeholder="Digite seu e-mail" required>
                    </div>
                    <div class="divInput">
                            <label for="senha" class="textInput">Senha</label>
                            <br>
                            <span class="icon"><img src="../images/lock.svg" alt=""></span>
                            <input type="password" name="senha" class="input-form w-100 inp-senha" id="senha" placeholder="Digite sua senha" required>
                            <span class="icon-2"><img src="../images/eye.svg" alt=""></span>
                    </div>
                    <div class="final-form">
                            <p><input class="input-form" type="checkbox" name="" id=""> Lembre-me</p>
                            <a href="">Esqueceu a senha?</a>
                    </div>
                    <div class="centro">
                        <input type="submit"></input>
                        <p class="color-yellow">Nao tem uma conta? <a href="" >Registre-se</a></p>
                    </div>
                </form>
            </div>
        </article>
        <article class="form-img w-50">
            <div></div>
        </article>
    </section>
</div>
        

</body>

